<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
<div style=" background-color: #061838">

    <div class="container">
        <div class="row py-3 ">
            <div class=" col-lg-5 flex-center text-md-left  mb-md-0">
                <h3 class="mb-0" style="color:white" ;>Social Media</h3>
                <br />
                <a href="https://www.facebook.com/monoviteknoloji/" class="fb-ic">
                    <em style="color: #ff0000; font-size: 3em;" class="fab fa-facebook-square fa-lg qhhite-text mr-5">
                    </em>
                </a>

                <a href="https://twitter.com/monoviteknoloji" class="tw-ic">
                    <em style="color: #ff0000; font-size: 3em;" class="fab fa-twitter-square fa-lg qhhite-text mr-5">
                    </em>
                </a> <br /> <br /> <br />

                <a href="https://www.linkedin.com/company/monovi/mycompany/" class="li-ic">
                    <em style="color: #ff0000; font-size: 3em;" class="fab fa-linkedin fa-lg qhhite-text mr-5"> </em>
                </a>

                <a href="https://www.instagram.com/monoviteknoloji/" class="ins-ic">
                    <em style="color: #ff0000; font-size: 3em;" class="fab fa-instagram-square fa-lg qhhite-text mr-5">
                    </em>
                </a>
            </div>


            <div class="flex-center col-lg-4">
                <h3 class="mb-0" style="color:white">Corporate</h3>
                <br />
                <h4 style=" color:red"><a href="" style=" color:red">About Us</a></h4>

                <h4><a href="/Partners/PartnersHome/" style=" color:red">Partners</a></h4>

                <h4 style=" color:red"><a href="" style=" color:red">References</a></h4>
                <h4><a href="/Home/KvkkPdpp/" style="color:red">KVKK/PDPP</a></h4>
            </div>
            <div class="flex-center col-lg-3">
                <h3 class="mb-0" style="color:white" ;>Contact</h3>
                <br />
                <style>
                    .redText {
                        color: red;
                    }

                    .whiteText {
                        color: white;
                    }
                </style>
                <span class="redText">
                    <h4>Phone :
                </span>&nbsp;<span class="whiteText">+90 232 502 5645</h4></span>

                <h4 style=" color:red">E-mail : <img src="~/images/Incudemy Home Page/mail.PNG" width="170" height="17"
                        type="image/png" /></h4>

                <h5 style=" color:white">
                    Monovi Bilgi Teknolojileri Yayıncılık San. Tic. A.S. Gulbahce Mahallesi
                    Teknopark Izmir Building
                    A10 No:1/40 Office: 39 Urla 35430 İzmir / Turkey
                </h5>
            </div>
        </div>
        <center><span>
                <h5 style="color:white" class="flex-center">&copy; @DateTime.Now.Year - Incudemy Team</h5>
            </span></center>
    </div>
</div>