@model Angle.Models.SurveyModel

<div class="question">
    <div style="border-bottom:2px solid grey;width:100%;"></div>
    <br />
    <div class="form-group row" style="position: absolute; right:5%;">
        <button id="btn_deleteQuestion" class="btn" onmouseover="this.style.background='red'" 
                onmouseout="this.style.background='grey'" style="color: #fff; background-color: grey; 
                border-color: grey; padding: 0.3rem 0.4rem;float:right;" title="delete question and options">
            <i class="fas fa-trash"></i>
        </button>
    </div><br />
    <div class="form-group row">
        <h4 class="textId" id="textId"></h4>
        <div class="col-11"></div>
    </div>
    <div class="form-group">
        <div class="areaOption" id="0">

            @Html.isActive("_AddOption")

            <a href="#" id="btn_addOption" onmouseover="this.style.background = 'grey';" 
               onmouseout="this.style.background = '#10244c';" style="color : #fff; background-color: #10244c; 
                border-color: #10244c;">+ Add New Option</a>
        </div>
    </div>
</div>
