@model Angle.Models.SurveyModel

<div class="form-group row" id="optionId">
    <input type="radio" disabled />

    <div class="col-8"></div>

    <button id="btn_deleteOption" onmouseover="this.style.background='red'"
            onmouseout="this.style.background='grey'" 
            class="btn" style="height:100%; color : #fff; background-color: grey; 
            border-color: grey; padding: 0.2rem 0.3rem;" 
            title="delete option">

        <i class="fas fa-trash"></i>

    </button>

    <div class="radioArea" id="radioArea"></div>
</div>


