@{ ViewData["Title"] = "Index";
    }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />



@*<h1>Welcome to Incudemy!</h1>*@
@*<BR style="margin-bottom:60px">*@
<div class="row" style="position:relative">
    <div class="container">
        <img src="~/images/Incudemy Home Page/mainpa.png" width="1100" height="600" type="image/png" style="float:right" />
        <div class="col-md-5" align="center" style="position:absolute; top:5%; left:5%">
            <span class="redText"> <h1 style="line-height: 1.3;">Incudemy</span>&nbsp;<span style="color: #646666 ">is a training programme that  allows learning easily and improvement thanks to online and interactive trainings. Start your business life one step ahead with various seminars,trainings and internships in different fields!</h4></span>
        </div>

    </div>
</div>



<center>
    <br />
    <h2>Please <a href="/Login/LoginModel">Login</a> or <a href="/Register/UserAdd">Register</a> to See More!</h2>
</center>



<br>
<center>
    <h3 style="border:gray; border-width:2px; border-style:solid;">Incudemists</h3>
</center>



<br>



<div class="row">



    <div class="col-md-4">
        <center>
            <em>
                <img src="~/images/Incudemy Home Page/seminar.png" width="70" height="70" type="image/png" />
            </em>
            <h3>Seminars</h3>
            <p>Primary objective of Incudemy is to prepare University students to the post-graduate life, provocate them to learn new technology and methods which will bring them additional value in their future business life. </p>
        </center>
    </div>




    <div class="col-md-4">
        <br><br>
        <center>
            <em>
                <img src="~/images/Incudemy Home Page/training.png" width="70" height="70" type="image/png" />
            </em>
            <h3>Trainings</h3>
            <p>We believe in new generation and young talents. Monovi invests in University students by providing seminars and training programmes to increase the awareness and technical knowledge about the software development technology in general.Our seminars not only include technical skills but also cover managerial soft skills such as time management. </p>
        </center>
    </div>




    <div class="col-md-4">
        <center>
            <em>
                <img src="~/images/Incudemy Home Page/internship.png" width="70" height="70" type="image/png" />
            </em>
            <h3>Internships</h3>
            <p>Monovi opens the door to professional life to young talents and may offer internships to successful Incudemists, when they graduate. </p>
        </center>
    </div>
</div>