<div class="container">
    <div class="row">
        <main id="main" class="col-md-12 site-main main-content">
            <article id="post-2436" class="post-2436 page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="vc_row_wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column-container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <p>
                                    <strong class="separator_default">&nbsp;Kişisel Verilerin Korunması Kanunu</strong>
                                </p>
                                <hr class="solid" />
                                <p style="text-align:center;">
                                    <strong>
                                        6698 SAYILI KİŞİSEL VERİLERİN KORUMASI KANUNU KAPSAMINDA KİŞİSEL VERİLERİN TOPLANMASI VE İŞLENMESİNE YÖNELİK AYDINLATMA METNİ ve MONOVİ BİLGİ TEKNOLOJİLERİ YAYINCILIK SAN. TİC. A.Ş. İNTERNET SİTESİ GİZLİLİK ve ÇEREZ POLİTİKASI
                                    </strong>
                                </p>
                                <table class="align-left" style="height:149px;" width="538">
                                    <tbody>
                                        <tr>
                                            <td width="149"><strong>UNVAN</strong></td>
                                            <td width="465"><strong>MONOVI  BİLGİ TEKNOLOJİLERİ YAYINCILIK SAN. TİC. A.Ş.</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="149"><strong>İLETİŞİM</strong></td>
                                            <td width="465">+90232502 5645 &nbsp;  / &nbsp;  +90 850 3045790</td>
                                        </tr>
                                        <tr>
                                            <td width="149"><strong>E-POSTA</strong></td>
                                            <td width="465">contact@monovi.com.tr</td>
                                        </tr>
                                        <tr>
                                            <td width="149"><strong>WEB SİTESİ</strong></td>
                                            <td width="465"><a href="http://www.monovi.com.tr/">http://www.monovi.com.tr/</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p style="text-align: left;">
                                    "Kişisel verileriniz; veri sorumlusu olarak; yukarıda detaylı bilgileri yer alan MONOVİ BİLGİ TEKNOLOJİLERİ YAYINCILIK SAN. TİC. A.Ş olarak"
                                    <strong>(Bundan sonra “Şirket” veya “Veri Sorumlusu” olarak anılacaktır.) </strong>
                                    "tarafından işletilen internet sitesini ziyaret edenlerin, internet sitemizde yer alan “OPEN POSITIONS” sekmesinden mail adresimize özgeçmiş gönderenlerin, internet sitemizde yer alan “INCUDEMY” bölümünden Monovi Incudemy’e başvuranların, yine internet sitemiz ve sitemizde yer alan mail adresi üzerinden tarafımız ile iletişim kuranların"
                                    <strong>(Bundan sonra “Veri Sahibi” olarak anılacaktır.)</strong>
                                    gizliliğini korumak Şirketimizin önde gelen ilkelerindendir. Veri sorumlusu olarak kişisel verilerinizi sizlere daha iyi geri dönüş sağlayabilmek amacı ve yasal mevzuat gereği işliyor, aynı zamanda yasal mevzuat kapsamında öngörülen teknik ve idari tedbirleri alarak bu verilerinizin korunması için elimizden gelen azami çabayı gösteriyoruz. İnternet Sitesi Aydınlatma Metni ve Gizlilik Politikası ("
                                    <strong>Bundan sonra “Politika” olarak anılacaktır.) </strong>
                                    ile; (1) Veri Sahiplerinin kişisel verilerinin işlenmesi, (2) Çerez Politikası hakkında açıklamalar yapılmaktadır.
                                </p>
                                <p style="text-align: left;">
                                    <strong>1- TANIMLAR</strong>
                                </p>
                                <p style="text-align: left;">
                                    <strong>&nbsp;</strong>
                                </p>
                                <ul style="text-align: left;">
                                    <li>

                                        <strong>Kişisel Veri : </strong>
                                        Kimliği belirli veya belirlenebilir gerçek kişiye ilişkin her türlü bilgiyi,
                                    </li>
                                    <li>

                                        <strong>Şirket :</strong>
                                        MONOVİ Bilgi Teknolojileri Yayıncılık San. Tic. Anonim Şirketi’ni
                                    </li>
                                    <li>

                                        <strong>Kişisel Verilerin İşlenmesi:</strong>
                                        Kişisel verilerin elde edilmesi, kaydedilmesi, depolanması, muhafaza edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devredilmesi, elde edilebilir hale getirilmesi, sınıflandırılması, kullanılmasının engellenmesi dahil olmak üzere toplandıktan sonra silme, yok etme ya da anonim hale getirmeye kadar geçen süreçte yapılan her türlü faaliyet.
                                    </li>
                                    <li>

                                        <strong>Kişisel Verilerin Korunması Kanunu ( KVKK ):</strong>
                                        6698 sayılı Kişisel Verilerin Korunması Kanunu’nu,
                                    </li>
                                    <li>

                                        <strong>Veri Sorumlusu:</strong>
                                        Kişisel Verilerin işleme amaçlarını ve vasıtalarını belirleyen, veri kayıt sisteminin kurulmasından ve yönetilmesinden sorumlu olan gerçek veya tüzel kişiyi
                                    </li>
                                </ul>
                                <p style="text-align: left;">ifade eder.</p>
                                <p style="text-align: left;">
                                    <strong>2- KİŞİSEL VERİLERİN TOPLANMASI VE İŞLENMESİ </strong>
                                </p>
                                <p style="text-align:left;">
                                    ŞİRKET, internet sitesi üzerinde işlenen verileriniz ile ilgili olarak veri sorumlusudur. ŞİRKET, 6698 Sayılı kanun ve ilgili yasal mevzuat çerçevesinde verilerinizi işlemektedir.
                                </p>
                                <ol style="text-align:left;">
                                    <li>
                                        İnternet sitemizi ziyaret etmeniz sırasında, kanuni gereklilik sebebiyle; internet sitesine gerçekleştirdiğiniz ziyarete ilişkin; bağlantı/çıkış tarih ve saat bilgisi, internet protokolü, kaynak ve hedef nokta bilgileri ile konum bilgisi, internet sitesini daha etkili, kolay ve hızlı kullanmanızı sağlama, site hizmet ve faaliyetlerini ihtiyaçlarınız doğrultusunda özelleştirme, üçüncü kişi web sitelerin size daha uygun hizmet ve teklif sunabilmesini sağlama amaçlı kullanılan çerezlerin(cookies) topladığı veriler,
                                    </li>
                                </ol>
                                <ol style="text-align:left;" start="2">
                                    <li>
                                        İnternet sitemizde yer alan “OPEN POSITIONS” sekmesinde yer alan mail adresimize özgeçmiş göndermeniz durumunda, özgeçmişinizde yer alan kişisel verileriniz,
                                    </li>
                                </ol>
                                <ol style="text-align:left;" start="3">
                                    <li>
                                        İnternet sitemizde yer alan “INCUDEMY” bölümünden Monovi Incudemy’e başvurmanız durumunda, yönlendirildiğiniz linkte doldurmuş olduğunuz kişisel verileriniz,
                                    </li>
                                </ol>
                                <ol style="text-align:left;" start="4">
                                    <li>
                                        İnternet sitemiz ve sitemizde yer alan mail adresi üzerinden tarafımız ile iletişim kurmanız durumunda bize sunduğunuz isim, e-posta ve telefon numaranız ve diğer tüm kişisel verileriniz,
                                    </li>
                                </ol>
                                <p style="text-align:left;">
                                    ŞİRKET tarafından 6698 sayılı Kişisel Verilerin Korunması Kanunu
                                    <strong>(Bundan sonra “KVKK” ve/veya “Kanun” olarak anılacaktır.)</strong>
                                    uyarınca ve
                                </p>
                                <ul style="text-align: left;">
                                    <li>Hukuka ve dürüstlük kurallarına uygun olma,</li>
                                    <li>Doğru ve gerektiğinde güncel olma,</li>
                                    <li>Belirli, açık ve meşru amaçlar için işlenme,</li>
                                    <li>İşleme amaçlarıyla bağlantılı, sınırlı ve ölçülü olarak olma,</li>
                                    <li>İlgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilme</li>
                                </ul>
                                <p style="text-align:left;">ilkelerine uygun olarak işlenecektir.</p>
                                <p style="text-align:left;"><strong>3- KİŞİSEL VERİLERİNİZİN İŞLENME AMACI</strong></p>
                                <p style="text-align:left;"><strong>&nbsp;</strong></p>
                                <p style="text-align:left;">Kimliğinizi belirli ya da belirlenebilir kılan her türlü bilgi “kişisel veri” dir. Kişisel verileriniz;</p>
                                <ul style="text-align:left;">
                                    <li>
                                        Hizmet ve faaliyetlerimizden faydalanabilmeniz için gerekli çalışmaların yapılabilmesi,
                                    </li>
                                </ul>
                                <ul style="text-align:left;">
                                    <li>
                                        Şirket tarafından sunulan hizmet ve faaliyetler çerçevesinde şirketimizde açık olan pozisyonlar için göndermiş olduğunuz özgeçmişlerinizin değerlendirilmesi, değerlendirme sonucu tarafınız ile iletişime geçilmesi,
                                    </li>
                                    <li>
                                        Şirket tarafından verilen MONOVİ INCUDEMY eğitimleri için sınırlı olan kontenjanlarımızın belirlenmesi, göndermiş olduğunuz kişisel verileriniz doğrultusunda eğitim alacak kişilerin tespit edilmesi, eğitimler için tarafınızla iletişime geçilmesi,
                                    </li>
                                </ul>
                                <ul style="text-align:left;">
                                    <li>
                                        Şirket tarafından sunulan hizmet ve eğitimlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi,
                                    </li>
                                </ul>
                                <ul style="text-align:left">
                                    <li>
                                        Şirket tarafından sunulan hizmet faaliyet ve eğitimlerin, beğeni, kullanım şekliniz ve ihtiyaçlarınıza göre özelleştirilerek sizlere önerilmesi ile talepleriniz doğrultusunda gerekli teknik destek ve kalitenin sağlanması,
                                    </li>
                                </ul>
                                <ul style="text-align:left">
                                    <li>
                                        Sosyal ağlar ile sitenin ilişkilendirilmesini sağlayarak, hızlı ve engelsiz paylaşım yapılabilmesi,
                                    </li>
                                </ul>
                                <ul style="text-align:left">
                                    <li>
                                        Hizmet, faaliyet ve eğitimlerimize ilişkin her türlü soru ve şikayetinize cevap verilebilmesi,
                                    </li>
                                </ul>
                                <ul style="text-align:left">
                                    <li>
                                        Veri güvenliği kapsamında tüm gerekli teknik ve idari tedbirleri alınması,
                                    </li>
                                </ul>
                                <ul style="text-align:left">
                                    <li>
                                        Düzenleyici ve denetleyici kurumlarla, resmi mercilerin talep ve denetimleri doğrultusunda gerekli bilgilerin temini ve idari operasyonların yürütülmesi,
                                    </li>
                                </ul>
                                <ul style="text-align:left">
                                    <li>
                                        Çevrimiçi ziyaretçi verilerinin ilgili mevzuat uyarınca işlenmesi gibi yasal düzenlemelerin öngördüğü ve zorunlu kıldığı şekilde hukuki yükümlülüklerimizin yerine getirilmesi
                                    </li>
                                </ul>
                                <ul style="text-align:left">
                                    <li>
                                        ŞİRKET’ in bir hukuki yükümlülüğünü yerine getirmesi için zorunlu olması,
                                    </li>
                                </ul>
                                <ul style="text-align:left">
                                    <li>
                                        amaçlarıyla ve KVKK 5. ve 6. maddelerinde belirtilen ve ilgili kanunlarda açıkça öngörülmesi sebebiyle
                                        <strong>ilgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla</strong>
                                        işlenebilecektir.
                                    </li>
                                </ul>
                                <p style="text-align:left;"><strong>4- KİŞİSEL VERİLERİNİZİN AKTARILDIĞI KİŞİLER VE AKTARIM AMACI</strong></p>
                                <p style="text-align:left;"><strong>&nbsp;</strong></p>
                                <p style="text-align:left;">
                                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                                    ŞİRKET olarak KVKK nın 8. Ve 9. Maddeleri çerçevesinde tarafımızca yürütülen faaliyetlere ilişkin olarak işbu Aydınlatma Metninde belirtilen kişisel veri işleme amaçlarının gerçekleştirilmesi ve aşağıda belirtilen amaçlarla kişisel verileriniz paylaşabilmekte veya aktarabilmekteyiz. Kişisel verileriniz; avukatlar, denetçiler, vergi danışmanları ile danışmanlık ve hizmet aldığımız diğer üçüncü kişilere, düzenleyici ve denetleyici kurumlar ile mahkeme ve icra müdürlükleri gibi sair resmî kurumlara, kişisel verilerinizi talep etmeye yetkili olan diğer kamu kurum veya kuruluşlarına, KVKK nın 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilecektir.
                                </p>
                                <p style="text-align:left;"><strong>&nbsp;</strong></p>
                                <p style="text-align:left;"><strong>5- VERİ SAHİPLERİNİN HAKLARI</strong></p>
                                <p style="text-align:left;">olduğunuzu bildiririz:</p>
                                <ul style="text-align:left;">
                                    <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,</li>
                                    <li>Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</li>
                                    <li>Kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
                                    <li>Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,</li>
                                    <li>Kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                                    <li>Kanun’a ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                                    <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkması durumunda buna itiraz etme,</li>
                                    <li>Kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız durumunda zararın giderilmesini talep etme.</li>
                                </ul>
                                <p style="text-align:left;">
                                    Yukarıda sıralanan haklarınıza yönelik başvurularınızı, internet sitemizden ulaşabileceğiniz CONTACT sekmesinden veya ŞİRKET’e ait
                                    <a href="mailto:contact@monovi.com.tr">contact@monovi.com.tr</a>
                                    mail adresine yazarak ŞİRKET’ e iletebilirsiniz.
                                </p>
                                <p style="text-align:left;">
                                    Talebinizin niteliğine göre en kısa sürede ve en geç otuz gün içinde başvurularınız ücretsiz olarak sonuçlandırılacaktır; ancak işlemin ayrıca bir maliyet gerektirmesi halinde Kişisel Verileri Koruma Kurulu tarafından belirlenecek tarifeye göre tarafınızdan ücret talep edilebilecektir.
                                </p>
                                <p style="text-align:left;"><strong>&nbsp;</strong></p>
                                <p style="text-align:left;">
                                    <strong>6- </strong>
                                    <strong>VERİ SAHİPLERİNİN KİŞİSEL VERİLERİNİN GÜVENLİĞİNİN SAĞLANMASINA YÖNELİK ALINAN TEDBİRLER</strong>
                                </p>
                                <p style="text-align:left;">
                                    ŞİRKET tarafından kişisel verilerin korunmasına ve veri güvenliğinin sağlanmasına verilen önem doğrultusunda, Kanun’un 12. maddesine uygun olarak, Şirketimiz tarafından veri güvenliğinin sağlanması için,
                                </p>
                                <p style="text-align:left;">
                                    <strong>– </strong>
                                    &nbsp; Kişisel verilerin hukuka aykırı olarak işlenmesini önlemek,
                                </p>
                                <p style="text-align:left;">
                                    <strong>–  &nbsp;</strong>
                                    Kişisel verilere hukuka aykırı olarak erişilmesini önlemek,
                                </p>
                                <p style="text-align:left;">
                                    <strong>–  &nbsp;</strong>
                                    Kişisel verilerin muhafazasını sağlamak,
                                </p>
                                <p style="text-align:left;">
                                    amacıyla uygun güvenlik düzeyini temin etmeye yönelik gerekli her türlü teknik ve idari
                                </p>
                                <p style="text-align:left;">tedbirleri almaktadır.</p>
                                <p style="text-align:left;"><strong>&nbsp;</strong></p>
                                <p style="text-align:left;"><strong>7- ÇEREZ POLİTİKASI</strong></p>
                                <p style="text-align:left;">
                                    İnternet sitemizden en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi geliştirebilmek için Çerez kullanıyoruz. Çerez kullanılmasını tercih etmezseniz tarayıcınızın ayarlarından Çerezleri silebilir ya da engelleyebilirsiniz. Ancak bunun internet sitemizi kullanımınızı etkileyebileceğini hatırlatmak isteriz. Tarayıcınızdan Çerez ayarlarınızı değiştirmediğiniz sürece bu sitede çerez kullanımını kabul ettiğinizi varsayacağız.
                                </p>
                                <p style="text-align:left;">
                                    <strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <u>ÇEREZ NEDİR VE NEDEN KULLANILMAKTADIR</u>
                                    </strong>
                                </p>
                                <p style="text-align:left;">Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza</p>
                                <p style="text-align:left;">veya ağ sunucusuna depolanan küçük metin dosyalarıdır.</p>
                                <p style="text-align:left;">İnternet Sitemizde çerez kullanılmasının başlıca amaçları aşağıda sıralanmaktadır:</p>
                                <ul style="text-align:left;">
                                    <li style="text-align:left;">İnternet sitesinin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan hizmetleri geliştirmek,</li>
                                    <li style="text-align:left;">İnternet Sitesini iyileştirmek ve İnternet Sitesi üzerinden yeni özellikler sunmak ve sunulan özellikleri sizlerin tercihlerine göre kişiselleştirmek;</li>
                                    <li style="text-align:left;">İnternet Sitesinin ve Şirketin hukuki ve ticari güvenliğinin teminini sağlamak.</li>
                                </ul>
                                <p style="text-align:left;">
                                    MONOVİ BİLGİ TEKNOLOJİLERİ YAYINCILIK SAN. TİC. A.Ş tarafından yukarıda detaylı bir şekilde açıklanan 6698 sayılı Kişisel Verilerin Korunması Kanunu’na ilişkin aydınlatma metni ile çerez politikasının tamamını okudum, anladım ve kişisel verilerimin yukarıda belirtilen amaçlar çerçevesinde işlenmesi konusunda bilgilendirildim.
                                </p>
                                <p style="text-align:left;">
                                    Bu kapsamda Kişisel Verilerimin 6698 sayılı Kişisel Verilerin Korunması Kanunu ve ilgili yönetmeliklere uygun olarak Şirketiniz MONOVİ BİLGİ TEKNOLOJİLERİ YAYINCILIK SAN. TİC. A.Ş.. tarafından, gerekli bilgilerin yasalar gereğince muhafazasına, kişisel verilerin işlenmesine ve  Aydınlatma Metni’nde belirtilen kişiler ile paylaşılmasına, kişisel veriler ve konu hakkında tereddüde yer vermeyecek şekilde aydınlatılmış ve bilgi sahibi olarak, açık rızamla onay veriyorum.
                                </p>
                                <p style="text-align:left;"><strong>&nbsp;</strong></p>
                            </div>
                            </div>
                            <div class="vc_empty_space" style="height:32px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>