@model Angle.Models.EventModel;
@{
    ViewData["Title"] = "RegisteredEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RegisteredEvent</h1>

<div class="col-md-10 offset-md-1">
    
</div>